<!-- Validation failure messages -->
<% if @payment.errors.any? %>
  <% @payment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Payment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_payment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for invoice_id -->
      <div class="form-group">
        <label for="invoice_id" class="control-label">
          Invoice
        </label>

        <input type="text" id="invoice_id" name="invoice_id" placeholder="Invoice" class="form-control" value="<%= @payment.invoice_id %>">
      </div>

      <!-- Label and input for payment_type -->
      <div class="form-group">
        <label for="payment_type" class="control-label">
          Payment type
        </label>

        <input type="text" id="payment_type" name="payment_type" placeholder="Payment type" class="form-control" value="<%= @payment.payment_type %>">
      </div>

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="<%= @payment.amount %>">
      </div>

      <button class="btn btn-success">
        Create Payment
      </button>
      or
      <a href="/payments">Cancel</a>
    </form>
  </div>
</div>
