<div class="page-header">
  <h3>Collar #<%= @collar.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Collar name</dt>
      <dd><%= @collar.collar_name %></dd>

      <dt>Collar image url</dt>
      <dd><img src ="<%= @collar.collar_image_url %>" style="width:200px;height:200px;"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/collars" class="btn btn-primary">
        Back
      </a>
      <a href="/collars/<%= @collar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_collar/<%= @collar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
